:root {
  --color-background: #141414;
  --color-text-primary: #FFFFFF;
  --color-text-title: #E50914;
  --color-text-main: #AAA;
  --color-background-button: #FFFFFF;
  --color-text-button: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-background);
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 5px;
  color: #E50914;
  font-family: 'Inconsolata', monospace, sans-serif;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover{
  color: #FFFFFF;
}

/* Main Movie */
.main-movie{
  font-size: 16px;
  background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/capa-house.jpg');
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description{
  margin-bottom: 40px;
}

.title{
  font-size: 40px;
}